<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>First IOS App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F6D5C041EF70B1B00042D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6D5C181EF70B1B00042D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6D5C231EF70B1B00042D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
